{{ define "tokens-section" }}
<div
  id="token-display"
  hx-trigger="every 30s"
  hx-get="/update-tokens"
  hx-target="this"
>
  {{ if ge .TokensAvailable 0.0 }}
  <div class="token-circle" data-total-supply="100">
    <svg viewBox="0 0 100 100">
      <defs>
        <linearGradient id="circleGradient" gradientTransform="rotate(45)">
          <stop offset="0%" stop-color="#cafa93" />
          <stop offset="100%" stop-color="#6c844c" />
        </linearGradient>
      </defs>
      <circle
        cx="50"
        cy="50"
        r="45"
        fill="none"
        stroke="url(#circleGradient)"
        stroke-width="5"
        stroke-linecap="round"
        id="progressCircle"
      />
    </svg>
  </div>
  <div
    class="tokens"
    id="tokenInfo"
    data-tokens-available="{{.TokensAvailablePercent}}"
  >
  {{ if .DisplayTokens }}
    Daily Token Amount </br>
    {{ .TokensAvailable }} / {{ .TokenSupply }} 
  {{ end }}
  </div>
  {{ end}}
</div>
{{ end }}
