@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Alliance Neue Regular";
	src:
		url("/fonts/Alliance-NeueRegular.ttf") format("truetype"),
		url("/fonts/alliance-neueregular-webfont.woff2") format("woff2"),
		url("/fonts/alliance-neueregular-webfont.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Alliance Neue Bold";
	src:
		url("/fonts/Alliance-NeueBold.ttf") format("truetype"),
		url("/fonts/alliance-neuebold-webfont.woff2") format("woff2"),
		url("/fonts/alliance-neuebold-webfont.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Alliance Neue SemiBold";
	src: url("/fonts/Alliance-NeueSemiBold.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Alliance Neue Medium";
	src: url("/fonts/Alliance-Medium.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
}

@layer base {
	:root {
		--background: 30 11.1% 92.9%;
		--foreground: 0 0% 3.9%;

		--card: 0 0% 96%;
		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--accent: 183 100% 17%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 70%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;

		--radius: 0.5rem;

		--pink-secondary: rgba(255, 109, 225, 0.15);
		--border-secondary: rgba(136, 126, 120, 0.15);
		--fill-quaternary: rgba(136, 126, 120, 0.15);
		--fill-elevated: rgba(229, 238, 255, 0.1);
		--overlay: rgba(237, 231, 230, 0.8);
		--secondary-bg: #fff;
		--label-secondary: rgba(84, 78, 74, 0.7);
		--label-tertiary: rgba(116, 109, 105, 0.45);
		--border-quaternary: rgba(114, 107, 102, 0.28);
		--fill-accent-secondary: rgba(255, 109, 225, 0.15);
		--bg-elevated: #424345;
		--border-primary: #fff;
		--fill-negative-secondary: rgba(229, 69, 69, 0.15);
		--border-edge: rgba(136, 126, 120, 0.15);
		--fill-primary: #171717;
		--border-accent: #f34ad5;
		--label-accent: #f34ad5;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 0 0% 98%;

		--card: 0 0% 7.8%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--accent: 313, 100%, 84%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 20%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;

		--pink-secondary: rgba(255, 174, 238, 0.15);
		--border-secondary: rgba(229, 238, 255, 0.6);
		--fill-quaternary: rgba(229, 238, 255, 0.1);
		--fill-elevated: rgba(229, 238, 255, 0.1);
		--overlay: rgba(64, 64, 64, 0.4);
		--secondary-bg: rgba(229, 238, 255, 0.15);
		--label-secondary: rgba(229, 238, 255, 0.6);
		--label-tertiary: rgba(229, 238, 255, 0.3);
		--border-quaternary: rgba(229, 238, 255, 0.1);
		--fill-accent-secondary: rgba(255, 109, 225, 0.15);
		--bg-elevated: #424345;
		--border-primary: #fff;
		--fill-negative-secondary: rgba(229, 69, 69, 0.15);
		--border-edge: rgba(229, 238, 255, 0.05);
		--fill-primary: #fff;
		--border-accent: #ffaeee;
		--label-accent: #ffaeee;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		/* @apply bg-background text-foreground font-sans bg-cover bg-fixed dark:bg-[url("/bg.svg")]; */
		/* @apply bg-background text-foreground font-sans bg-cover bg-center bg-fixed dark:bg-[url("/no-space-bg.svg")]; */
		@apply bg-background text-foreground font-sans;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display !tracking-wide;
	}
}

.no-space {
	@apply bg-background text-foreground font-sans bg-cover bg-no-repeat bg-center dark:bg-[url("/no-space-bg.svg")];
}

.svg-animation {
	position: absolute;
	left: -8px;
	top: -8px;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	animation: 400ms ease 0s 1 normal none running animation-plwpox;
}

*::-webkit-scrollbar {
	display: none;
}
.scroll-visible::-webkit-scrollbar {
	display: block;
}

.scroll-visible::-webkit-scrollbar-thumb {
	background-color: hsl(var(--accent));
	border: 4px solid transparent;
	border-radius: 9px;
	background-clip: content-box;
}

@keyframes animation-plwpox {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.svg-animation rect {
	animation: 1.2s linear 0s infinite normal none running animation-1fdn7aw;
	stroke: hsl(var(--accent));
}

@keyframes animation-1fdn7aw {
	0% {
		stroke-dashoffset: 0;
	}
}

.actions-trigger {
	--grid-id: minmax(50px, 0.25fr);
	--grid-type: minmax(150px, 3fr);
	--grid-info: minmax(150px, 3fr);
	--grid-date: minmax(200px, 3fr);
	--grid-status: minmax(120px, 1fr);
	grid-template-columns:
		var(--grid-id) var(--grid-type) var(--grid-info) var(--grid-date)
		var(--grid-status);
	grid-template-areas: "id type info date status";
	width: 100%;
	display: grid;
	align-items: center;
	white-space: nowrap;
}

.wallet-row {
	--grid-address: minmax(200px, 3fr);
	--grid-tokens: minmax(100px, 1.5fr);
	--grid-value: minmax(100px, 1.5fr);
	--grid-action: minmax(100px, 1fr);
	grid-template-columns:
		var(--grid-address) var(--grid-tokens) var(--grid-value)
		var(--grid-action);
	grid-template-areas: "address tokens value action";
	width: 100%;
	display: grid;
	align-items: center;
	white-space: nowrap;
}

#intent-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}

input[type="number"] {
	appearance: auto;
	-moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

/* button {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
} */

.mask-space {
	-webkit-mask-image: -webkit-gradient(
		linear,
		left 0%,
		left bottom,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
}

.fix-avatar .rounded-full {
	border-radius: 0;
}
