build/

blockchain/cmd/wardend/wardend

blockchain/cmd/faucet/faucet

relayer-eth/cmd/buildtx/buildtx

relayer-eth/cmd/relayer/relayer

# Blockchain bootstrap artifacts
blockchain/**/artifacts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

node_modules
dist
dist-ssr

# Editor directories and files
.tmp
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
