.DS_Store
*/.DS_Store
.idea
.tmp
contracts/node_modules
contracts/*/target
contracts/packages/*/target
build/

mokr/mokr

blockchain/cmd/fusiond/fusiond

blockchain/cmd/faucet/faucet

relayer-eth/cmd/buildtx/buildtx

relayer-eth/cmd/relayer/relayer
