.border-progress {
	position: relative;
	border: 1px solid transparent;
}

.border-progress::before {
	content: " ";
	position: absolute;
	inset: -1px;
	border: inherit;
	border-radius: inherit;
	background-image: conic-gradient(
		from var(--angle),
		rgba(202, 255, 148, 0.5) 65%,
		var(--border-edge) 75%,
		var(--border-edge) 90%,
		rgba(202, 255, 148, 0.5) 100%
	);
	background-origin: border-box;
	-webkit-mask:
		linear-gradient(black, black) content-box,
		linear-gradient(black, black);
	mask: linear-gradient(black, black), linear-gradient(black, black);
	-webkit-mask-clip: content-box, border-box;
	mask-clip: content-box, border-box;
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	animation: border-spin 3s linear infinite;
}

@supports not (background: paint(something)) {
	.border-progress::before {
		background-image: conic-gradient(
			#381d6a 80%,
			#e0d1ff 88%,
			#e0d1ff 92%,
			#381d6a 100%
		);
	}
}

@property --angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}

@keyframes border-spin {
	to {
		--angle: 1turn;
	}
}
