.keycard-container {
	transform-style: preserve-3d;
}

.keycard-container > .keycard-backface,
.keycard-container > .keycard-frontface {
	backface-visibility: hidden;
}

.keycard-container > .flipped {
	transform: rotateY(180deg);
}
