[package]
name = "gmp"
version.workspace = true
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "gmp"

[features]
default = ["testnet"]
mainnet = ["wormhole-anchor-sdk/mainnet"]
testnet = ["wormhole-anchor-sdk/solana-devnet"]
devnet = ["wormhole-anchor-sdk/tilt-devnet"]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]

[dependencies]
solana-program = "1.16.16"
anchor-lang = { version = "0.28.0", features = ["init-if-needed"]}
wormhole-anchor-sdk = { version = "0.1.0-alpha.2", default-features = false }
