[workspace]
members = [
    "programs/*",
]

resolver = "2"

[workspace.package]
version = "0.1.0"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
