---
name: Release development images

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      service_name:
        description: "Service"
        required: true
        type: choice
        options:
          - wardend
          - faucet
          - wardenkms

jobs:
  release-dev:
    name: release-dev ${{ inputs.app_name }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup just
        uses: extractions/setup-just@v2
        with:
          just-version: 1.40.0

      - name: Release
        run: just release-${{ inputs.app_name }}
