---
name: Release development images

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string

jobs:
  release-dev:
    name: release-dev ${{ inputs.app_name }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      packages: write

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup just
        uses: extractions/setup-just@v2
        with:
          just-version: 1.39.0

      - name: Release
        run: just release ${{ inputs.app_name }}
        env:
          SKIP: "--skip=validate"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
