---
name: shield

on:
  push:
    branches:
      - main
    paths:
      - "shield/**"
  pull_request:
    paths:
      - "shield/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.3
          args: --timeout=10m ./shield/...

  unit-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Test (-race)
        run: go test -race -v ./shield/...

