---
name: soliditygen

on:
  push:
    branches:
      - main
    paths:
      - 'cmd/soliditygen/**'
  pull_request:
    paths:
      - 'cmd/soliditygen/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.3
          args: --timeout=10m ./cmd/soliditygen/...

  unit-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Build
        run: go build -v ./cmd/soliditygen/...
      - name: Test (-race)
        run: go test -race -v ./cmd/soliditygen/...

