---
name: Release Wardend development image

on:
  push:
    branches:
      - main
    paths:
      - "go.mod"
      - "cmd/wardend/**"
      - "warden/**"
      - "precompiles/**"
      - "prophet/**"
    tags:
      - "wardend/v*"
  pull_request:
    paths:
      - "go.mod"
      - "cmd/wardend/**"
      - "warden/**"
      - "precompiles/**"
      - "prophet/**"

env:
  modules: "./warden/... ./cmd/wardend/... ./prophet/... ./precompiles/..."

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4
          args: --timeout=10m ${{ env.modules }}

  unit-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Build
        run: go build -v ${{ env.modules }}
      - name: Test (-race)
        run: go test -race -v ${{ env.modules }}

  release-dev:
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - lint
      - unit-test
    permissions:
      actions: read
      contents: write
      packages: write
    uses: ./.github/workflows/release-docker-images.yml
    with:
      app_name: wardend
    secrets: inherit
