---
name: wardenkms

on:
  push:
    branches:
      - main
    paths:
      - "go.mod"
      - "cmd/wardenkms/**"
      - "go-client/**"
      - "keychain-sdk/**"
    tags:
      - "wardenkms/v*"
  pull_request:
    paths:
      - "go.mod"
      - "cmd/wardenkms/**"
      - "go-client/**"
      - "keychain-sdk/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          args: --timeout=10m ./cmd/wardenkms/...

  unit-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
      - name: Build
        run: go build -v -o build/wardenkms ./cmd/wardenkms/...
      - name: Test (-race)
        run: go test -race -v ./cmd/wardenkms/...

  build-and-push:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/wardenkms/v')
    needs: [lint, unit-test]
    uses: ./.github/workflows/build_push.yml
    with:
      service_name: wardenkms
    secrets: inherit
