---
name: Release WardenKMS development image

on:
  push:
    branches:
      - main
    paths:
      - "go.mod"
      - "cmd/wardenkms/**"
      - "go-client/**"
      - "keychain-sdk/**"
    tags:
      - "wardenkms/v*"
  pull_request:
    paths:
      - "go.mod"
      - "cmd/wardenkms/**"
      - "go-client/**"
      - "keychain-sdk/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4
          args: --timeout=10m ./cmd/wardenkms/...

  unit-test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Build
        run: go build -v -o build/wardenkms ./cmd/wardenkms/...
      - name: Test (-race)
        run: go test -race -v ./cmd/wardenkms/...

  release-dev:
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - lint
      - unit-test
    permissions:
      actions: read
      contents: write
      packages: write
    uses: ./.github/workflows/release-docker-images.yml
    with:
      app_name: wardenkms
    secrets: inherit